@import '@/assets/global/_common.scss';
@import '@/assets/global/_variables.scss';

.popular-layout {
  @include no-select;

  h3 {
    font-size: 1.8rem;
  }

  .popular-content {
    display: flex;
    margin-top: 0.7rem;

    .popular-item {
      flex: 1;
      padding-right: 0.3rem;

      &:last-child {
        padding-right: 0;
      }

      .popular-info {
        display: flex;
        height: 6rem;

        .cover-box {
          width: 6rem;
          height: 6rem;
        }

        .info-box {
          flex: 2;
          padding-left: 1rem;

          p {
            &:first-child {
              height: 1rem;
              font-size: 0.8rem;
              color: var(--white-a6);
              cursor: pointer;
            }

            &:nth-child(2) {
              padding-top: 0.5rem;
              margin-bottom: 0.3rem;
              height: 3.2rem;
              font-weight: bold;
              overflow: hidden;
              display: -webkit-box;
              line-clamp: 2;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            &:last-child {
              height: 1rem;
              display: flex;
              font-size: 0.8rem;
              vertical-align: bottom;
              color: var(--white-a6);

              svg {
                transform: scaleX(-1) scaleY(-1);
                width: 1rem;
                height: 1rem;
                margin-right: 0.3rem;
              }
            }
          }
        }
      }
    }
  }

  .reload-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
