@import '@/assets/global/_variables.scss';
@import '@/assets/global/_common.scss';

.profile-layout {
  .profile-content {
    @include no-select;

    display: flex;

    .profile-info {
      flex: 2;
      padding-left: 2rem;

      .profile-nickname {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;

        .gender {
          margin-left: 0.7rem;
        }

        .profile-ip {
          color: $secondary-font-color;
          font-weight: 300;
          font-size: 0.8rem;
          text-align: right;
          flex: 1;
        }
      }

      .profile-bio {
        margin-top: 0.7rem;
      }

      .profile-follow {
        display: flex;

        .chunk {
          cursor: pointer;

          p {
            &:first-child {
              font-size: 1.3rem;
              font-weight: bold;
            }

            &:last-child {
              color: $secondary-font-color;
            }
          }
        }

        .separator {
          margin: 0 0.5rem;
        }
      }
    }
  }
}
