@import '@/assets/global/variables';

.sticker-box {
  cursor: pointer;

  &:hover {
    .sticker-name {
      color: #d9d9d9;
    }
  }

  .sticker-image {
    transition: 0.8s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 888;
  }

  .active {
    z-index: 3000;
  }

  .sticker-name {
    display: flex;
    justify-content: center;
    color: $secondary-font-color;
    transition: 0.3s;
  }
}

.sticker-mask {
  position: absolute;
  z-index: 888;
  background: var(--black-a3);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: default;

  .sticker-info {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: 100%;

    .secondary {
      color: $secondary-font-color;
    }

    .sticker-copy {
      display: flex;
      justify-content: center;
    }
  }
}
