.logo-layout {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;

  .logo {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.form-layout {
  width: 100%;
  margin-top: 36px;
  display: flex;
  justify-content: center;

  .form {
    width: 70%;
  }
}
