.play-controller-layout {
  width: 100vw;
  height: 69px;
  position: fixed;
  border-top: 1px solid #646464;
  bottom: 0;
  background: var(--black-a6);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;

  .left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-left: 11rem;
  }

  .middle {
    flex: 2;
  }

  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 11rem;
  }

  .progress-layout {
    z-index: 4;
    position: absolute;
    top: -3px;
    width: 100%;
    height: 2px;

    .progress-slider {
      cursor: pointer;

      :global {
        .rt-SliderTrack {
          height: 2px;
          border: none;
          box-shadow: none;
        }

        .rt-SliderThumb {
          width: 6px;
          height: 6px;
          display: none;
          cursor: ew-resize;

          &::after {
            cursor: ew-resize;
          }
        }
      }

      &:hover {
        :global {
          .rt-SliderThumb {
            display: block;
          }
        }
      }
    }
  }
}

