$main-color: var(--purple-9);
$primary-font-color: var(--purple-9);
$nav-background-color: var(--color-panel);
$nav-button-color: var(--purple-11);
$nav-button-hover-color: var(--purple-5);
$nav-button-active-color: var(--purple-7);
$h3-color: var(--purple-9);
$secondary-font-color: var(--gray-10);
$border-color: var(--gray-7);
$player-controller-background-color: var(--color-panel);
$player-controller-button-hover-color: var(--purple-5);
$player-controller-button-active-color: var(--purple-7);
$player-controller-button-color: var(--purple-11);
$player-drawer-background-color: var(--black-a8);
$window-zoom-button-hover-color: var(--gray-7);
$window-zoom-button-active-color: var(--gray-9);
$window-quit-button-hover-color: rgba(255, 0, 0, 0.6);
$window-quit-button-active-color: rgba(123, 2, 2, 0.6);
