$primary-theme-background-color: rgba(67, 67, 67, 1);
$main-color: rgb(209, 157, 255);
$main-color-opacity-1: rgba(209, 157, 255, 0.1);
$primary-font-color: #d9d9d9;
$secondary-font-color: var(--white-a6);
