@import '@/assets/global/_common.scss';

.pay-episode-tag {
  @include no-select;
  color: #faad14;
  font-weight: normal;
  border: 1px solid #faad14;
  padding: 0 0.3rem;
  margin-right: 0.5rem;
  border-radius: 6px;
  font-size: 16px;
}

.owned-episode-tag {
  @include no-select;
  color: #faad14;
  font-weight: normal;
  border: 1px solid #faad14;
  padding: 0 0.3rem;
  margin-right: 0.5rem;
  border-radius: 6px;
  font-size: 16px;
}

.played-tag {
  @include no-select;
  font-weight: normal;
  padding: 0 0.3rem;
  border-radius: 6px;
  font-size: 14px;
  color: #4096ff;
  border: 1px solid #4096ff;
}

.finished-tag {
  @include no-select;
  font-weight: normal;
  padding: 0 0.3rem;
  border-radius: 6px;
  font-size: 14px;
  color: #73d13d;
  border: 1px solid #73d13d;
}
