@import '@/assets/global/_variables.scss';

.player-buttons-layout {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  user-select: none;
  -webkit-user-select: none;

  .buttons {
    display: flex;

    .button {
      width: 45px;
      height: 45px;
      margin-right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        background: $player-controller-button-hover-color;
      }

      &:active {
        background: $player-controller-button-active-color;
      }

      svg {
        color: $player-controller-button-color;
      }
    }
  }

  .player-speed {
    display: flex;
    justify-content: center;
    align-items: center;

    select {
      outline: none;
    }
  }
}
