@import '@/assets/global/_variables.scss';

.wrapper {
  font-size: 14px;

  .label {
    color: $secondary-font-color;

    pre {
      display: inline;
      margin: 0;
      padding: 0;
      color: $primary-font-color;
    }
  }

  .update-content {
    .markdown-wrapper {
      margin-top: 0.3rem;
      max-height: 200px;
      overflow-y: auto;
    }

    .loading {
      margin-top: 0.3rem;
      font-size: 13px;
      color: $secondary-font-color;
    }
  }
}
