@import '@/assets/global/_variables.scss';

.episode-detail-modal-layout{
  padding: 0 0.7rem;

  h3{
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .info{
    margin-bottom: 1rem;
    color: $secondary-font-color;
  }

  .episode-detail-html-content {
    a {
      color: $primary-font-color;
    }

    img {
      width: 100%;
      height: 100%;
      padding: 12px 0;
    }
  }
}


