@import '@/assets/global/_variables.scss';

.player-drawer-layout {
  position: fixed;
  z-index: 1001;
  left: 0;
  transition: 0.7s ease-in-out;

  .player-background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    scale: 1.2;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
  }

  .close-button {
    padding: 0.5rem 3rem;
    display: flex;
  }

  .player-content {
    padding: 0 3rem;
    display: flex;
    height: 100%;

    .player-left {
      flex: 1;
      display: flex;
      margin-top: 2%;
      cursor: default;

      .player-left-content {
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem;

        .episode-name {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .podcast-name {
          color: $secondary-font-color;
          font-weight: 300;
        }

        .control-button-layout {
          display: flex;
          justify-content: center;

          .control-button {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            svg {
              width: 1.9rem;
              height: 1.9rem;
            }

            img {
              width: 26px;
              height: 26px;
            }
          }
        }

        .progress-bar-layout {
          margin-top: 1rem;

          .time-flag {
            display: flex;
            justify-content: space-between;
            color: $secondary-font-color;
          }

          .progress-bar {
            margin-top: 0.7rem;

            .progress-slider {
              cursor: pointer;

              .rt-SliderThumb {
                cursor: ew-resize;

                &::after {
                  cursor: ew-resize;
                }
              }
            }
          }
        }
      }
    }

    .player-right {
      flex: 1;
    }
  }
}
