@import '@/assets/global/_variables.scss';

.player-drawer-layout {
  margin-top: 35px;
  position: fixed;
  z-index: 99;
  left: 0;
  transition: 0.7s ease-in-out;

  .player-background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    scale: 1.2;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
  }

  .close-button {
    padding: 0.5rem 3rem;
    display: flex;
  }

  .player-content {
    padding: 0 3rem;
    display: flex;
    height: 100%;

    .player-left {
      flex: 1;
      display: flex;
      margin-top: 2%;
      cursor: default;

      .player-left-content {
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem;

        .episode-name {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .podcast-name {
          color: $secondary-font-color;
          font-weight: 300;
        }

        .control-button-layout {
          display: flex;
          justify-content: center;

          .control-button {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            svg {
              width: 1.9rem;
              height: 1.9rem;
            }

            img {
              width: 26px;
              height: 26px;
            }
          }
        }

        .progress-bar-layout {
          margin-top: 1rem;

          .time-flag {
            display: flex;
            justify-content: space-between;
            color: $secondary-font-color;
          }

          .progress-bar {
            margin-top: 0.7rem;

            .progress-slider {
              cursor: pointer;

              .rt-SliderThumb {
                cursor: ew-resize;

                &::after {
                  cursor: ew-resize;
                }
              }
            }
          }
        }
      }
    }

    .player-right {
      flex: 1;

      .player-comment-layout {

        .player-comment-content {
          margin-top: 0.7rem;
          padding-right: 1rem;

          .player-comment-item {
            margin-bottom: 1rem;

            &:hover {
              .player-comment-author {
                .player-comment-more-action {
                  opacity: 1;
                }
              }
            }

            .player-comment-author {
              display: flex;
              align-items: center;
              cursor: default;

              div {
                &:first-child {
                  margin-right: 10px;
                  cursor: pointer;
                }

                &:nth-child(2) {
                  flex: 1;

                  span {
                    cursor: pointer;
                  }

                  p {
                    &:last-child {
                      font-size: 0.7rem;
                      color: $secondary-font-color;
                    }
                  }
                }

                &:last-child {
                  cursor: pointer;
                  font-size: 0.9rem;

                  svg {
                    margin-right: 10px;
                  }
                }
              }

              .player-comment-more-action {
                transition: 0.3s;
                opacity: 0;
                font-size: 0.9rem;
                margin-right: 14px;
              }
            }

            .player-comment-body {
              margin: 0.3rem 0;
            }

            .player-comment-replies {
              background: rgba(255, 255, 255, 0.1);
              border-radius: 4px;
              font-size: 0.8rem;
              padding: 0.2rem 0.3rem;

              .player-comment-reply {
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 1;
                box-orient: vertical;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;

                .player-comment-reply-nickname {
                  color: $secondary-font-color;
                  cursor: pointer;
                }
              }

              .player-comment-more-reply {
                cursor: pointer;
              }
            }
          }

          .load-more-button {
            text-align: center;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
