@import '@/assets/global/_variables.scss';
@import '@/assets/global/_common.scss';

.player-drawer-layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  left: 0;
  transition: 0.7s ease-in-out;

  .title-bar-text {
    @include no-select;

    color: $secondary-font-color;
    padding-left: 10px;
    width: 100%;
    position: absolute;
    top: 4px;
  }

  .title-bar-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    display: flex;

    div {
      width: 50px;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-font-color;

      &:first-child,
      &:nth-child(2) {
        &:hover {
          background: $window-zoom-button-hover-color;
        }

        &:active {
          background: $window-zoom-button-active-color;
        }
      }

      &:last-child {
        &:hover {
          background: $window-quit-button-hover-color;
        }

        &:active {
          background: $window-quit-button-active-color;
        }
      }
    }
  }

  .player-background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(30px);
    scale: 1.2;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $player-drawer-background-color;
    }
  }

  .close-button {
    padding: 0.5rem 3rem;
    display: flex;
    color: var(--white-a9);

    svg {
      color: var(--white-a9);
    }
  }

  .player-content {
    padding: 0 3rem;
    display: flex;
    height: 100%;

    .player-left {
      flex: 1;
      display: flex;
      margin-top: 2%;
      cursor: default;

      .player-left-content {
        width: 100%;
        margin: 0 auto;
        padding: 0 3rem;

        .episode-name {
          color: var(--white-a9);
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 2;
          box-orient: vertical;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .podcast-name {
          color: $secondary-font-color;
          font-weight: 300;
        }

        .control-button-layout {
          display: flex;
          justify-content: center;

          .control-button {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            svg {
              width: 2rem;
              height: 2rem;
              color: $player-controller-button-color;
            }
          }
        }

        .progress-bar-layout {
          margin-top: 1rem;

          .time-flag {
            display: flex;
            justify-content: space-between;
            color: $secondary-font-color;
          }

          .progress-bar {
            margin-top: 0.7rem;

            .progress-slider {
              cursor: pointer;

              :global {
                .rt-SliderThumb {
                  cursor: grab;

                  &:active {
                    cursor: grabbing;
                  }

                  &::after {
                    cursor: grab;
                  }
                }
              }
            }
          }
        }
      }
    }

    .player-right {
      flex: 1;
    }
  }
}
