@import '@/assets/global/_common.scss';
@import '@/assets/global/_variables.scss';

.podcast-detail-layout {
  .podcast-detail-info {
    padding-top: 1.7rem;

    .pdi-top {
      display: flex;

      .pdi-top-cover {
        width: 20rem;
        height: 20rem;
      }

      .pdi-top-description {
        margin-left: 2rem;
        display: flex;
        align-items: end;
      }
    }

    .podcast-detail {
      .podcasters {
        margin-top: 4rem;
        padding: 0 10rem;

        .label {
          text-align: center;
          margin-bottom: 0.7rem;
        }

        .layout {
          display: grid;
          grid-template-columns: repeat(6, 1fr);

          .podcaster {
            width: 6rem;
            height: 7.3rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;

            .top {
              width: 100%;
              height: 6rem;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .bottom {
              width: 100%;
              height: 1.7rem;
              margin-top: 0.7rem;
              overflow: hidden;
              text-align: center;
              display: -webkit-box;
              line-clamp: 1;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .episode-lists {
        margin-top: 4rem;
        padding: 0 10rem;

        .label {
          text-align: center;
          margin-bottom: 0.7rem;
        }

        .episode-item {
          height: 10rm;
          display: flex;
          margin-bottom: 1.7rem;

          .left {
            .episode-cover {
              width: 10rem;
              height: 10rem;
            }
          }

          .right {
            padding-left: 0.7rem;
            position: relative;

            p {
              &:first-child {
                font-size: 1.2rem;
                font-weight: bold;
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 2;
                box-orient: vertical;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }

              &:nth-child(2) {
                color: $secondary-font-color;
                overflow: hidden;
                display: -webkit-box;
                line-clamp: 3;
                box-orient: vertical;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
              }

              &:last-child {
                position: absolute;
                bottom: 0;
                color: $secondary-font-color;
                display: flex;
                width: 100%;

                span {
                  &:first-child {
                    flex: 1;
                  }

                  &:last-child {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    svg {
                      margin-left: 0.8rem;
                      margin-right: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .recommended-layout {
      @include no-select;

      margin-top: 2rem;
      margin-bottom: 2rem;

      .label {
        text-align: center;
        margin-bottom: 0.7rem;
      }

      .recommended-content {
        height: 16.8rem;
        margin-top: 0.7rem;

        .recommended-item {
          width: 12rem;
          height: 13rem;
          margin-right: 1rem;

          .cover-box {
            width: 16rem;
            height: 14rem;
            display: flex;
            justify-content: center;

            .cover {
              width: 13rem;
              height: 13rem;
            }
          }

          .podcast-info {
            width: 16rem;

            .podcast-title {
              width: 13rem;
              overflow: hidden;
              font-size: 1rem;
              display: -webkit-box;
              line-clamp: 1;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
