@import '@/assets/global/_variables.scss';

.comment-reply-modal-layout {
  padding-right: 1rem;

  .comment-reply-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .comment-reply-author {
      display: flex;
      align-items: center;
      cursor: default;

      div {
        &:first-child {
          margin-right: 10px;
          cursor: pointer;
        }

        &:nth-child(2) {
          flex: 1;

          p {
            &:first-child {
              display: flex;
              align-items: center;

              img {
                cursor: default;
                margin-left: 0.4rem;
                filter: invert(41%) sepia(62%) saturate(574%) hue-rotate(239deg) brightness(92%) contrast(90%);
              }
            }

            &:last-child {
              font-size: 0.7rem;
              color: $secondary-font-color;
            }
          }
        }

        &:nth-child(3), &:nth-child(4), &:last-child {
          cursor: pointer;
          font-size: 0.9rem;

          svg {
            margin-right: 10px;
          }
        }
      }
    }

    .player-comment-body {
      margin-top: 0.3rem;
    }
  }
}

.comment-reply-bottom {
  display: flex;
  margin-top: 1rem;

  div {
    &:first-child {
      flex: 1;
    }

    &:nth-child(2) {
      margin: 0 0.7rem;
    }
  }
}
