@import '@/assets/global/_variables.scss';

.tagline-layout {
  color: $secondary-font-color;

  .num {
    color: $primary-font-color;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

.played-time-wrapper {
  padding-top: 0.7rem;

  .played-time {
    color: $secondary-font-color;
  }
}

