@import '@/assets/global/_variables.scss';

.title-bar-windows-layout {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 35px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  font-weight: bold;

  .title-bar-text {
    color: $secondary-font-color;
    padding-left: 10px;
    width: 100%;
  }
  .title-bar-button {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;

    div {
      width: 50px;
      height: 100%;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child,
      &:nth-child(2) {
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }

        &:active {
          background: rgba(255, 255, 255, 0.3);
        }
      }

      &:last-child {
        &:hover {
          background: rgba(255, 0, 0, 0.6);
        }

        &:active {
          background: rgba(123, 2, 2, 0.6);
        }
      }
    }
  }
}

.title-bar-mac-layout {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 35px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  font-weight: bold;

  .title-bar-text {
    padding-left: 10px;
    width: 100%;
    text-align: center;
  }
}
