@import '@/assets/global/_variables.scss';

.title-bar-windows-layout {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 35px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  font-weight: bold;

  .title-bar-text {
    color: $secondary-font-color;
    padding-left: 10px;
    width: 100%;
  }

  .title-bar-button {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;

    div {
      width: 50px;
      height: 100%;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child,
      &:nth-child(2) {
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }

        &:active {
          background: rgba(255, 255, 255, 0.3);
        }
      }

      &:last-child {
        &:hover {
          background: rgba(255, 0, 0, 0.6);
        }

        &:active {
          background: rgba(123, 2, 2, 0.6);
        }
      }
    }
  }
}

.title-bar-mac-layout {
  background: rgba(255, 0, 0, 0.22);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 65px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  font-weight: bold;
  //padding: 0 88px;
  //padding-left: 8rem;
  //padding-right: 8rem;

  .navbar-layout {
    //width: 100%;
    height: 100%;
    background: rgba(255, 192, 203, 0.55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;

    div {
      &:first-child {
        //flex: 1;
        width: 250px;
        background: rgba(0, 0, 255, 0.2);
      }

      &:nth-child(2) {
        //flex: 1;
        width: 250px;
        background: rgba(255, 255, 0, 0.2);
      }

      &:last-child {
        //flex: 1;
        width: 250px;
        background: rgba(240, 128, 128, 0.2);
      }
    }
  }
}
