@import '@/assets/global/_variables.scss';

.profile-modal-layout {
  .pm-action-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 9;

    .more-button {
      margin-left: .3rem;
    }
  }

  .profile-avatar-layout {
    width: 100%;
    height: 13rem;
    position: relative;
    display: flex;
    justify-content: center;

    .background-image {
      width: 100%;
      height: 10rem;
    }

    .profile-avatar {
      position: absolute;
      width: 8rem;
      height: 8rem;
      bottom: 0;
    }

    .pm-ip-loc {
      user-select: none;
      -webkit-user-select: none;
      cursor: default;
      z-index: 10;
      font-size: 0.8rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 0 0 6px #3f3f3f;
    }
  }

  .profile-detail-layout {
    margin-top: 1rem;

    .pm-nickname {
      div {
        &:last-child {
          font-weight: 300;
          color: $secondary-font-color;
        }
      }
    }

    .pm-follow {
      display: flex;
      justify-content: center;
      margin-top: 0.7rem;

      .chunk {
        cursor: default;

        p {
          &:first-child {
            font-size: 1.3rem;

            span {
              font-size: 0.8rem;
            }
          }

          &:last-child {
            color: $secondary-font-color;
          }
        }
      }

      .separator {
        margin: 0 0.5rem;
      }
    }
  }

  .pm-podcast-layout {
    padding-left: 4rem;
    padding-right: 4rem;

    .pm-podcast-content {
      margin-top: 1.7rem;

      h3 {
        font-size: 1rem;
        margin-bottom: 0.7rem;
        color: $secondary-font-color;
      }

      .pm-podcast-item {
        height: 10rm;
        display: flex;
        margin-bottom: 1.7rem;

        .left {
          .episode-cover {
            width: 6rem;
            height: 6rem;
          }
        }

        .right {
          padding-left: 0.7rem;
          position: relative;

          p {
            &:first-child {
              font-size: 1.2rem;
              font-weight: bold;
              overflow: hidden;
              display: -webkit-box;
              line-clamp: 2;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              cursor: pointer;
            }

            &:nth-child(2) {
              color: $secondary-font-color;
              overflow: hidden;
              display: -webkit-box;
              line-clamp: 2;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            &:nth-child(3) {
              color: $secondary-font-color;
              overflow: hidden;
              display: -webkit-box;
              line-clamp: 1;
              box-orient: vertical;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
        }
      }
    }
  }

  .pm-sticker-layout {
    padding-left: 4rem;
    padding-right: 4rem;

    .pm-sticker-content {
      margin-top: 1.7rem;

      h3 {
        font-size: 1rem;
        margin-bottom: 0.7rem;
        color: $secondary-font-color;
      }

      .sticker-card {
        font-size: 1rem;
        padding: 2rem 4rem;
        cursor: pointer;

        .sticker-bgi {
          position: absolute;
          top: 0;
          left: -10rem;
          width: 120rem;
          height: 120rem;
          background-size: 90px 90px;
          background-position: 100% 0;
          background-repeat: repeat;
          opacity: 0.3;
          transform: rotate(-45deg);
        }

        div {
          &:last-child {
            color: $secondary-font-color;
          }
        }
      }
    }
  }

  .pm-like-content {
    margin-top: 1.7rem;
    padding-left: 4rem;
    padding-right: 4rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.7rem;
      color: $secondary-font-color;
    }

    .pm-like-item {
      margin-bottom: 1.7rem;

      &:last-child {
        margin-bottom: 0;
      }

      .top {
        display: flex;
        font-weight: 300;

        span {
          flex: 1;

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: right;
            cursor: default;

            img {
              margin-left: .3rem;
              cursor: pointer;
              vertical-align: middle;
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }

      .middle {
        margin-top: 0.7rem;
        text-align: center;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 4;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }

      .bottom {
        display: flex;
        height: 3rem;

        .left {
          .episode-cover {
            width: 3rem;
            height: 3rem;
          }
        }

        .right {
          margin-left: 0.7rem;

          p {
            overflow: hidden;
            display: -webkit-box;
            line-clamp: 1;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 300;

            &:first-child {
            }

            &:last-child {
              color: $secondary-font-color;
            }
          }
        }
      }
    }
  }

  .pm-history-content {
    margin-top: 1.7rem;
    padding-left: 4rem;
    padding-right: 4rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.7rem;
      color: $secondary-font-color;
    }

    .pm-history-episode-item {
      height: 10rm;
      display: flex;
      margin-bottom: 1.7rem;

      .left {
        .episode-cover {
          width: 6rem;
          height: 6rem;
        }
      }

      .right {
        padding-left: 0.7rem;
        position: relative;
        height: 6rem;

        p {
          &:first-child {
            font-size: 1.2rem;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            line-clamp: 1;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            cursor: pointer;
          }

          &:nth-child(2) {
            color: $secondary-font-color;
            overflow: hidden;
            display: -webkit-box;
            line-clamp: 2;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            color: $secondary-font-color;
            display: flex;
            width: 100%;

            span {
              &:first-child {
                flex: 1;
              }

              &:last-child {
                flex: 1;
                display: flex;
                align-items: center;

                svg {
                  margin-left: 0.8rem;
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
