@import '@/assets/global/_common.scss';
@import '@/assets/global/_variables.scss';

.search-layout {
  @include no-select;

  padding: 0 14px;
  height: 100%;

  h3 {
    font-size: 1.8rem;
  }

  .search-content {
    padding: 0 5rem;

    .search-input {
      display: flex;
      justify-items: center;
      padding: 1rem 0;

      .left {
        flex: 5;
      }

      .right {
        margin-left: 1rem;
        flex: 1;

        button {
          width: 100%;
        }
      }
    }

    .search-result {
      display: block;
    }
  }
}
