@import '@/assets/global/_common.scss';
@import '@/assets/global/_variables.scss';

.title {
  @include no-select;
  color: $secondary-font-color;
}

.search-result-wrapper {
  @include no-select;

  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 22px;

  .search-result-item {
    display: flex;
    flex-direction: column;

    .image {
      aspect-ratio: 1 / 1;
      width: 100%;
    }

    .name {
      height: 48px;
      line-height: 48px;
      display: flex;

      .pay-episode-tag {
        @include no-select;
        color: #faad14;
        font-weight: normal;
        border: 1px solid #faad14;
        padding: 0 0.3rem;
        margin-right: 0.5rem;
        border-radius: 6px;
        font-size: 16px;
      }

      span {
        max-width: 124px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.loadMoreButton {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}
